[Unit]
Description=Siren Google Cast
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/root/siren
ExecStart=/root/siren/venv/bin/python stream_audio.py
User=root
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
